<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IBoardLikeMapper">
	<!-- 좋아요 했는지 안했는지 조회 -->
	<select id="selectBoardLikeByBoardNoAndMemberEmail" resultType="String" parameterType="com.gd.safari.vo.BoardLike">
		SELECT
			member_email memberEmail
		FROM
			board_like
		WHERE
			board_no = #{boardNo}
		AND
			member_email = #{memberEmail}
	</select>
	
	<!-- 좋아요 추가하기 -->
	<insert id="insertBoardLike" parameterType="com.gd.safari.vo.BoardLike">
		INSERT INTO
			board_like
			(
				board_no
				, member_email
			)
		VALUES
			(
				#{boardNo}
				, #{memberEmail}
			)
	</insert>
</mapper>