<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IChatMemberMapper">
	<!-- 채팅 멤버 추가하기 -->
	<insert id="insertChatMember" parameterType="com.gd.safari.vo.ChatMember">
		INSERT INTO
			chat_member
			(
				chat_room_no
				, chat_member_email
				, create_date
			)
		VALUES
			(
				#{chatRoomNo}
				, #{chatMemberEmail}
				, NOW()
			)
	</insert>
	
	<select id="selectChatMemberNoByWorkMemberEmail" parameterType="java.util.Map" resultType="int">
		SELECT 
			chat_member_no 
		FROM 
			chat_member 
		WHERE 
			chat_room_no = #{chatRoomNo} 
		AND 
			chat_member_email = #{workMemberEmail}
	</select>
</mapper>