<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IChatMsgMapper">
	<!-- 채팅 메세지 저장 -->
	<insert id="insertChatMsg" parameterType="java.util.Map">
		INSERT INTO chat_msg (
			chat_member_no
			, chat_msg
			, create_date
		) VALUES (
			#{chatMemberNo}
			, #{chatMsg}
			, NOW()
		)
	</insert>
	
	<!-- 채팅 메시지 리스트 -->
	<select id="selectMsgListByChatRoomNo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			chat_msg chatMsg
			, msg.create_date createDate
			, cr.chat_room_no chatRoomNo
			, wm.work_member_name workMemberName
		FROM
			chat_msg msg
		INNER JOIN
			chat_member cm
		ON
			msg.chat_member_no = cm.chat_member_no
		INNER JOIN
			chat_room cr
		ON
			cr.chat_room_no = cm.chat_room_no
		INNER JOIN
			workspace_member wm
		ON
			chat_member_email = work_member_email
		WHERE
			wm.work_no = #{workNo}
		AND
			msg.chat_member_no
		IN
			(
			SELECT
				chat_member_no
			FROM
				chat_member
			WHERE
				chat_room_no = #{chatRoomNo}
			)
	</select>
</mapper>