<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IChatRoomMapper">
	<!-- 채팅방 생성하기 -->
	<insert id="insertChatRoom" parameterType="java.util.Map">
		<selectKey keyProperty="chatRoomNo" resultType="int" order="AFTER">
			<!-- 방금 생성한 키값을 받아옴 -->
			SELECT LAST_INSERT_ID() as chatRoomNo
		</selectKey>
		
		INSERT INTO
			chat_room
			(
				chat_room_name
				, create_date
				, update_date
				, work_no
			)
		VALUES
			(
				#{chatRoomName}
				, NOW()
				, NOW()
				, #{workNo}
			)
	</insert>
	
	<!-- 채팅방 리스트 -->
	<select id="selectChatRoomListByWorkMemberEmail" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			cr.chat_room_name chatRoomName
			, cr.chat_room_no chatRoomNo
			, (SELECT
					chat_msg
				FROM
					chat
				WHERE
					chat_room_no = chatRoomNo
				AND
					chat_msg_no
				IN
					(
					SELECT
						MAX(chat_msg_no)
					FROM
						chat
					GROUP BY
						chat_room_no
					)
			) lastMsg
		FROM
			chat_room cr
		INNER JOIN
			chat_member cm
		ON
			cr.chat_room_no = cm.chat_room_no
		WHERE
			cm.chat_member_email = #{workMemberEmail}
		AND
			cr.work_no = #{workNo}
	</select>
</mapper>