<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IChatRoomMapper">
	<!-- 채팅방 생성하기 -->
	<insert id="insertChatRoom" parameterType="com.gd.safari.vo.ChatRoom">
		INSERT INTO
			chat_room
			(
				chat_room_name
				, create_date
				, update_date
				, work_no
			)
		VALUES
			(
				#{chatRoomName}
				, NOW()
				, NOW()
				, #{workNo}
			)
	</insert>
</mapper>