<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IChatMsgMapper">
	<!-- 채팅 메세지 보내가 -->
	<insert id="insertChatMsg" parameterType="com.gd.safari.vo.ChatMsg">
		INSERT INTO
			chat_msg
			(
				chat_member_no
				, chat_msg
				, create_date
			)
		VALUES
			(
				#{chatMemberNo}
				, #{chatMsg}
				, NOW()
			)
	</insert>
</mapper>