<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IFeedbackReceiverMapper">
	<!-- 피드백 작성 후 피드백 멤버 추가하기 -->
	<insert id="insertFeedbackReceiver" parameterType="map">
		INSERT INTO
			feedback_receiver
			(
				feedback_no
				, feedback_receiver
				, create_date
				, update_date
			)
		VALUES 
			(
				#{feedbackNo}
				, #{feedbackReceiver}
				, NOW()
				, NOW()
			)
	</insert>
	
	<!-- 피드백 수정을 위한 기존 피드백 수신자 조회 -->
	<select id="selectFeedbackReceiverByFeedbackNo" parameterType="int" resultType="map">
		SELECT
			feedback_no feedbackNo
			, feedback_receiver feedbackReceiver
		FROM
			feedback_receiver
		WHERE
			feedback_no = #{feedbackNo}
	</select>
	
	<!-- 피드백 수신자 삭제하기 -->
	<delete id="deleteFeedbackReceiverByFeedbackNoAndEmail" parameterType="map">
		DELETE FROM
			feedback_receiver
		WHERE
			feedback_no = #{feedbackNo}
		AND
			feedback_receiver = #{feedbackReceiver}
	</delete>
</mapper>