<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IFileMapper">
	<!-- 파일리스트 -->
	<select id="selectAllFileList" parameterType="map" resultType="map">
		SELECT 
				f.file_no		fileNo
				,f.task_no		taskNo
				,f.uploader		uploader
				,f.filename		filename
				,f.file_ext		fileExt
				,f.origin_name	originName
				,f.file_type	fileType
				,f.file_size	fileSize
				,DATE_FORMAT(f.create_date, '%Y-%m-%d') createDate   

				,f.update_date	updateDate
				,t.task_title	taskTitle

		FROM project p inner join task_list tl
		
		ON p.project_no = tl.project_no inner join task t
			
		ON tl.tasklist_no = t.tasklist_no inner join file f
		
		ON t.task_no = f.task_no
		
		
		<where>
			<if test="uploader == null">
				p.project_no = #{projectNo}	
			</if>
			<if test="uploader != null">
				p.project_no = #{projectNo}	AND uploader =#{uploader}	
			</if>
			
		</where>
		
	
	</select>
	
	<!-- 파일 삽입 메서드 -->
	<insert id ="insertFile" parameterType="map">
			INSERT INTO file(
				  task_no
				, uploader
				, filename
				, file_ext
				, origin_name
				, file_type
				, file_size
				, create_date
				, update_date
			) VALUES(
				  #{taskNo}
				, #{uploader}
				, #{filename}
				, #{fileExt}
				, #{originName}
				, #{fileType}
				, #{fileSize}
				, NOW()
				, NOW()
			)
	</insert>
	
	<!-- 파일 삭제메서드 -->
	<delete id ="deleteFile" parameterType="int">
		DELETE FROM file
		WHERE file_no = #{fileNo}
	</delete>
	
	
	<!-- 파일 보여주는 메서드 -->
	<select id = "selectFileOne" parameterType="int" resultType="com.gd.safari.vo.File">
		SELECT 
			  file_no       fileNo
			, task_no       taskNo
			, uploader      
			, filename 
			, file_ext      fileExt
			, origin_name   originName
			, file_type     fileType
			, file_size     fileSize
			, create_date   createDate
			, update_date   updateDate
		FROM file
		WHERE file_no= #{fileNo}
	</select>
	
	<!-- 해당업무에 해당하는 업무 보여주기 -->
	<select id="selectTaskList" parameterType="int" resultType="com.gd.safari.vo.Task">
		SELECT
			 task_no	   taskNo
			,task_title    taskTitle
		FROM task
		WHERE tasklist_no = #{tasklistNo}
	</select>
	
	<!-- 업무번호에 따른 파일 리스트 -->
	<select id="selectTaskNoFileList" parameterType="int" resultType="map">
		SELECT 
				f.file_no		fileNo
				,f.task_no		taskNo
				,f.uploader		uploader
				,f.filename		filename
				,f.file_ext		fileExt
				,f.origin_name	originName
				,f.file_type	fileType
				,f.file_size	fileSize
				,DATE_FORMAT(f.create_date, '%Y-%m-%d') createDate
				,f.update_date	updateDate
				,t.task_title	taskTitle

		FROM project p inner join task_list tl
		
		ON p.project_no = tl.project_no inner join task t
			
		ON tl.tasklist_no = t.tasklist_no inner join file f
		
		ON t.task_no = f.task_no
		
		WHERE f.task_no = #{taskNo}
	
	</select>
	
	<!-- 업무리스트번호에 따른 파일 리스트 -->
	<select id="selectTasklistNoFileList" parameterType="int" resultType="map">
		SELECT 
				f.file_no		fileNo
				,f.task_no		taskNo
				,f.uploader		uploader
				,f.filename		filename
				,f.file_ext		fileExt
				,f.origin_name	originName
				,f.file_type	fileType
				,f.file_size	fileSize
				,DATE_FORMAT(f.create_date, '%Y-%m-%d') createDate
				,f.update_date	updateDate
				,t.task_title	taskTitle

		FROM project p inner join task_list tl
		
		ON p.project_no = tl.project_no inner join task t
			
		ON tl.tasklist_no = t.tasklist_no inner join file f
		
		ON t.task_no = f.task_no
		
		WHERE tl.tasklist_no  = #{tasklistNo}
	
	</select>
	
</mapper>