<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.ILogMapper">
	
	<!-- 로그 추가메서드 -->
	<insert id="insertLog" parameterType ="map">
		INSERT INTO log (
			 log_content
			, create_date
			, project_no
		)VALUES(
			 #{logContent}
			, NOW()
			, #{projectNo}
		)	
	</insert>
	
	
	<!-- 로그리스트 보여주기 -->
	<select id="selectLogList" parameterType="map" resultType="com.gd.safari.vo.Log">
		SELECT 
				  log_no		logNo			
				, log_content	logContent
				, create_date	createDate
				, project_no	projectNo
				
		FROM	log
		WHERE project_no = #{projectNo} 
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 로그 총 개수 구하기 -->
	<select id="selectLogCount"  parameterType="map" resultType="int">
		SELECT 
			COUNT(*) count
		FROM log
		WHERE project_no = #{projectNo}
	</select>
	
	


</mapper>