<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.ILowerTaskMapper">
	<!-- 하위 업무 가져오기 -->
	<select id="selectLowerTaskByTaskNo" parameterType="int" resultType="map">
		SELECT 
			t.task_no 			taskNo
			, t.task_title 		taskTitle
			, tl.project_no 	projectNo
		FROM 
			task t INNER JOIN task_list tl 
		ON 
			t.tasklist_no 		= tl.tasklist_no 
		WHERE 
			t.task_upper_no 	= #{taskNo}
	</select>
	<!-- 프로젝트번호에 맞는 업무 가져오기 (단, 자신이 아닌 것) -->
	<select id="selectTaskByProjectNoForLowerTask" parameterType="map" resultType="map">
		SELECT 
			t.task_no			taskNo
			, t.task_title		taskTitle
			, tl.project_no 	projectNo
		FROM 
			task t INNER JOIN task_list tl 
		ON 
			t.tasklist_no = tl.tasklist_no 
		WHERE 
			t.task_no != #{taskNo} AND tl.project_no = #{projectNo}
	</select>
	<!-- 하위 업무 생성 -->
	<insert id="insertLowerTask" parameterType="com.gd.safari.vo.Task">
		INSERT INTO task (
			task_title
			, task_writer
			, tasklist_no
			, task_upper_no
			, create_date
			, update_date
		) VALUES (
			#{taskTitle}
			, #{taskWriter}
			, #{tasklistNo}
			, IF(#{taskUpperNo}='', NULL, #{taskUpperNo})
			, NOW()
			, NOW()
		);
	</insert>
	<!-- 하위 업무 전환 -->
	<update id="updateChangeLowerTask" parameterType="map">
		UPDATE task 
		SET 
			task_upper_no = #{taskNo}
			, update_date 	= NOW()
		WHERE 
			task_no = #{lowerTaskNo}
	</update>
	<!-- 메인 업무 전환 -->
	<update id="updateChangeTask" parameterType="int">
		UPDATE task 
		SET 
			task_upper_no = NULL 
			, update_date 	= NOW()
		WHERE 
			task_no = #{taskNo}
	</update>
	<!-- 하위업무 삭제 
	<delete id="deleteLowerTask" parameterType="int">
		DELETE FROM task
		WHERE 
			task_upper_no 	= #{taskNo}
	</delete>-->
	<!-- 하위업무의 하위업무 삭제  
	<delete id="deleteLowerLowerTask" parameterType="int">
		DELETE FROM task WHERE task_upper_no 
 		IN (
 			SELECT task_no FROM (
 				SELECT 
					task_no
				FROM 
					task 
				WHERE 
					task_upper_no 	= #{taskNo}
			) a
		)
	</delete>-->
</mapper>