<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IMemberMapper">
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="com.gd.safari.vo.Member">
		INSERT INTO member (
			member_email
			, member_pw
			, active
			, create_date
		) VALUES (
			TRIM(#{memberEmail})
			, PASSWORD(#{memberPw})
			, 'Y'
			, NOW()
		)
	</insert>
	<!-- 중복 아이디 확인 -->
	<select id="selectMemberEmailByCheck" resultType="string" parameterType="string">
		SELECT
			member_email memberEmail
		FROM member
		WHERE
			member_email = TRIM(#{memberEmail})
	</select>
	<!-- 로그인 -->
	<select id="selectMemberByLogin" resultType="com.gd.safari.vo.Member" parameterType="com.gd.safari.vo.Member">
		SELECT 
			member_email memberEmail
			, member_pw memberPw
			, active
		FROM member
		WHERE 
			member_email = #{memberEmail} 
			and member_pw = PASSWORD(#{memberPw})
	</select>
	<!-- 계정 활성화 (active 값을 Y로 변경 - N일 경우만! X일 경우는 탈퇴된 계정이라 활성화되지 않음) -->
	<update id="updateActiveByUnlockUser" parameterType="com.gd.safari.vo.Member">
		UPDATE member
		SET
			active = 'Y'
		WHERE
			member_email = #{memberEmail} 
			and member_pw = PASSWORD(#{memberPw})
			and active = 'N'
	</update>
	<!-- 탈퇴 -->
	<update id="updateActiveByDeleteAccount" parameterType="com.gd.safari.vo.Member">
		UPDATE member
		SET
			active = 'X'
		WHERE
			member_email = #{memberEmail} 
			and member_pw = PASSWORD(#{memberPw})
	</update>
</mapper>