<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IProjectMapper">
	<!-- 프로젝트 리스트 띄우기 -->
	<select id="selectProjectListByWorkspaceNo" resultType="com.gd.safari.vo.Project" parameterType="int">
		SELECT
			project_no projectNo
			, project_name projectName
			, create_date createDate
		FROM project
		WHERE
			work_no = #{workNo}
	</select>
	
	<!-- 한 프로젝트의 정보 출력 -->
	<select id="selectProjectDetailByProjectNo" resultType="com.gd.safari.vo.Project" parameterType="int">
		SELECT
			project_no projectNo
			, work_no workNo
			, project_name projectName
			, project_expl projectExpl
			, project_auth projectAuth
			, project_start projectStart
			, project_deadline projectDeadline
			, project_end projectEnd
			, project_keep projectKeep
		FROM project
		WHERE
			project_no = #{projectNo}
	</select>
	
	<!-- 프로젝트 추가 -->
	<insert id="insertProject" parameterType="java.util.Map">
		<selectKey keyProperty="projectNo" resultType="int" order="AFTER">
			<!-- 방금 생성한 키값을 받아옴 -->
			SELECT LAST_INSERT_ID() as projectNo
		</selectKey>
		INSERT INTO project (
			work_no
			, project_name
			, project_auth
			, create_date
			, update_date
		) VALUES (
			#{workNo}
			, #{projectName}
			, #{projectAuth}
			, NOW()
			, NOW()
		)
	</insert>
	
	<!-- 프로젝트 수정 -->
	<update id="updateProject" parameterType="java.util.Map">
		UPDATE project
		<trim prefix="SET"><!-- 동적으로 SET 키워드, 콤마 추가 -->
			<!-- ORACLE에서 빈 문자열 == null, mysql에서 빈 문자열은 빈 문자열 -->
			project_name = #{projectName}
			<if test="projectExpl != null and !projectExpl.equals('')">
				, project_expl = #{projectExpl}
			</if>
			<if test="projectAuth != null and !projectAuth.equals('')">
				, project_auth = #{projectAuth}
			</if>
			<if test="projectStart != null and !projectStart.equals('')">
				, project_start = #{projectStart}
			</if>
			<if test="projectDeadline != null and !projectDeadline.equals('')">
				, project_deadline = #{projectDeadline}
			</if>
			<if test="projectEnd != null and !projectEnd.equals('')">
				, project_end = #{projectEnd}
			</if>
			, update_date = NOW()
		</trim>
		WHERE
			project_no = #{projectNo};
	</update>
</mapper>