<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IProjectMapper">
	<select id="selectProjectListByWorkspaceNo" resultType="com.gd.safari.vo.Project" parameterType="int">
		SELECT
			project_no projectNo
			, project_name projectName
			, create_date createDate
		FROM project
		WHERE
			work_no = #{workNo}
	</select>
</mapper>