<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IProjectMemberMapper">
	<insert id="insertProjectMember" parameterType="com.gd.safari.vo.ProjectMember">
		INSERT INTO project_member(
			work_member_no
			, project_no
			, project_member_auth
			, active
			, create_date
			, update_date
		) VALUES (
			#{workMemberNo}
			, #{projectNo}
			, 'Y'
			, 'Y'
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectProjectMemberListByProjectNo" resultType="java.util.Map" parameterType="int">
		SELECT
			w.work_member_no workMemberNo
			, w.work_member_name workMemberName
			, p.project_no projectNo
		FROM
			workspace_member w
		LEFT JOIN
			(SELECT 
				* 
			FROM
				project_member 
			WHERE 
				project_no = #{projectNo} AND active = 'Y') p
		ON 
			w.work_member_no = p.work_member_no
		WHERE 
			w.work_no = #{workNo};
	</select>
	
	<select id="selectProjectMemberList" resultType="java.util.Map" parameterType="int">
		SELECT
			pm.project_member_no projectMemberNo
			, pm.work_member_no workMemberNo
			, pm.project_member_auth projectMemberAuth
			, pm.active
			, wm.work_member_name workMemberName
			, wm.work_member_email workMemberEmail
		FROM 
			project_member pm
		INNER JOIN 
			workspace_member wm
		ON 
			pm.work_member_no = wm.work_member_no
		WHERE 
			pm.project_no = #{projectNo} AND pm.active = 'Y'
	</select>
	
	<update id="updateProjectMemberActive" parameterType="com.gd.safari.vo.ProjectMember">
		 UPDATE 
		 	project_member 
		 SET 
		 	active = 'N'
		 	, update_date = NOW()
		 WHERE 
		 	work_member_no = #{workMemberNo} AND project_no = #{projectNo}
	</update>
	
</mapper>