<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IProjectMemberMapper">
	<!-- 프로젝트 멤버 추가 -->
	<insert id="insertProjectMember" parameterType="com.gd.safari.vo.ProjectMember">
		INSERT INTO project_member(
			work_member_no
			, project_no
			, project_member_auth
			, active
			, create_date
			, update_date
		) VALUES (
			#{workMemberNo}
			, #{projectNo}
			, #{projectMemberAuth}
			, 'Y'
			, NOW()
			, NOW()
		)
	</insert>
	
	<!-- 워크스페이스 멤버에 해당 프로젝트에 속한 멤버를 Left Join - 수정 폼에서 사용 -->
	<select id="selectPossibleProjectMemberListByWorkNoAndProjectNo" resultType="java.util.Map" parameterType="int">
		SELECT
			w.work_member_no workMemberNo
			, w.work_member_name workMemberName
			, m.project_no projectNo
			, m.project_member_auth projectMemberAuth
		FROM
			workspace_member w
		LEFT JOIN
			(SELECT 
				work_member_no
				, project_no
				, project_member_auth 
			FROM
				project_member 
			WHERE 
				project_no = #{projectNo} AND active = 'Y') m
		ON 
			w.work_member_no = m.work_member_no
		WHERE 
			w.work_no = #{workNo}
	</select>
	
	<!-- 해당 프로젝트에 속한 멤버와 관리자, email을 반환 / 조원들의 기능구현에 사용 -->
	<select id="selectProjectMemberList" resultType="java.util.Map" parameterType="int">
		SELECT
			pm.project_member_no projectMemberNo
			, pm.work_member_no workMemberNo
			, pm.project_member_auth projectMemberAuth
			, pm.active
			, wm.work_member_name workMemberName
			, wm.work_member_email workMemberEmail
		FROM 
			project_member pm
		INNER JOIN 
			workspace_member wm
		ON 
			pm.work_member_no = wm.work_member_no
		WHERE 
			pm.project_no = #{projectNo} AND pm.active = 'Y'
	</select>
	
	<!-- 관리자인지 아닌지를 리턴 / null이면 관리자가 아님 -->
	<select id="selectProjectManager" resultType="int" parameterType="int">
		SELECT 
			work_member_no workMemberNo
		FROM 
			project_member
		WHERE 
			project_member_auth = 'Y' 
		AND 
			project_no = #{projectNo}
		AND 
			work_member_no = ${workMemberNo}
	</select>
	
	<!-- 수정 메소드 -->
	<update id="updateProjectMember" parameterType="com.gd.safari.vo.ProjectMember">
		UPDATE
			project_member
		SET
			project_member_auth = #{projectMemberAuth}
			, active = #{active}
			, update_date = NOW()
		WHERE
			work_member_no = #{workMemberNo}
		AND
			project_no = #{projectNo}
	
	</update>
	
	<!-- 해당 프로젝트에 속한 멤버를 모두 삭제 -->	
	<delete id="deleteProjectMemberByProjectNo" parameterType="int">
		DELETE FROM project_member WHERE project_no = #{projectNo}
	</delete>
</mapper>