<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IProjectMapper">
	<!-- 프로젝트 리스트 띄우기 -->
	<select id="selectProjectListByWorkspaceNo" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			p.project_no projectNo
			, p.project_name projectName
			, p.create_date createDate
			,(select work_member_no from project_member where project_member_auth = 'Y' and project_no = projectNo and work_member_no = #{workMemberNo}) manager
		FROM project p
		
		<!-- 내가 속한 프로젝트 -->
		<if test="'my'.equals(section)">
			INNER JOIN 
				project_member pm
			ON 
				pm.project_no = p.project_no 
		</if>
		
		<!-- 프로젝트 그룹 별 보기 -->
		<if test="projectGroupNo != null">
			INNER JOIN 
				project_group_conn pgc 
			ON 
				pgc.project_no = p.project_no 
		</if>
		
		WHERE
			p.work_no = #{workNo}
		
		<!-- 내가 속한 프로젝트 -->
		<if test="'my'.equals(section)">
			AND 
				pm.work_member_no = #{workMemberNo}
		</if>
		
		<!-- 보관 프로젝트 -->
		<if test="'keep'.equals(section)">
			AND 
				p.project_keep = 'Y'
		</if>
		
		<!-- 프로젝트 그룹 별 보기 -->
		<if test="projectGroupNo != null">
			AND
				pgc.projectgroup_no = #{projectGroupNo}
		</if>
		
		<!-- 검색 -->
		<if test="search != null">
			AND
				p.project_name LIKE CONCAT('%',#{search},'%');
		</if>
	</select>
	
	<!-- 한 프로젝트의 정보 출력 -->
	<select id="selectProjectDetailByProjectNo" resultType="com.gd.safari.vo.Project" parameterType="int">
		SELECT
			project_no projectNo
			, work_no workNo
			, project_name projectName
			, project_expl projectExpl
			, project_auth projectAuth
			, project_start projectStart
			, project_deadline projectDeadline
			, project_end projectEnd
			, project_keep projectKeep
		FROM project
		WHERE
			project_no = #{projectNo}
	</select>
	
	<!-- 프로젝트 그룹 수정용 -->
	<!-- 프로젝트 리스트와 한 프로젝트 그룹에 속한 프로젝트를 left join -->
	<select id="selectAllProjectByProjectGroupNo" resultType="java.util.Map" parameterType="int">
		SELECT 
			p.project_no projectNo
			, p.project_name projectName
			, q.projectgroup_no projectGroupNo
		FROM 
			project p 
		LEFT JOIN 
			(SELECT 
				project_no
				, pg.projectgroup_no
				, projectgroup_name 
			FROM 
				project_group_conn pgc 
			INNER JOIN
				project_group pg 
			ON
				pgc.projectgroup_no = pg.projectgroup_no 
			WHERE 
				pg.projectgroup_no = #{projectGroupNo}) q 
		ON 
			p.project_no = q.project_no 
		WHERE 
			p.work_no = #{workNo}
	</select>
	
	<!-- 프로젝트 추가 -->
	<insert id="insertProject" parameterType="com.gd.safari.vo.ProjectForm">
		<selectKey keyProperty="projectNo" resultType="int" order="AFTER">
			<!-- 방금 생성한 키값을 받아옴 -->
			SELECT LAST_INSERT_ID() as projectNo
		</selectKey>
		INSERT INTO project (
			work_no
			, project_name
			, project_auth
			, create_date
			, update_date
		) VALUES (
			#{workNo}
			, #{projectName}
			, #{projectAuth}
			, NOW()
			, NOW()
		)
	</insert>
	
	<!-- 프로젝트 수정 -->
	<update id="updateProject" parameterType="java.util.Map">
		UPDATE project
		<trim prefix="SET" suffixOverrides=","><!-- 동적으로 SET 키워드, 콤마 추가 -->
			<!-- ORACLE에서 빈 문자열 == null, mysql에서 빈 문자열은 빈 문자열 -->
			<if test="projectName != null and !projectName.equals('')">
				project_name = #{projectName}
			</if>
			<if test="projectExpl != null and !projectExpl.equals('')">
				project_expl = #{projectExpl}
			</if>
			<if test="projectAuth != null and !projectAuth.equals('')">
				project_auth = #{projectAuth}
			</if>
			<if test="projectStart != null and !projectStart.equals('')">
				project_start = #{projectStart}
			</if>
			<if test="projectDeadline != null and !projectDeadline.equals('')">
				project_deadline = #{projectDeadline}
			</if>
			<if test="projectEnd != null and !projectEnd.equals('')">
				project_end = #{projectEnd}
			</if>
			, update_date = NOW()
		</trim>
		WHERE
			project_no = #{projectNo};
	</update>
	
	<!-- 프로젝트 삭제 -->
	<delete id="deleteProject" parameterType="int">
		DELETE FROM project WHERE project_no = #{projectNo}
	</delete>
</mapper>