<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IScheduleMemberMapper">
	<!-- 스케줄 멤버 추가 -->
	<insert id="insertScheduleMember" parameterType="com.gd.safari.vo.ScheduleMember">
		INSERT INTO schedule_member (
			schedule_no
			, member_email
			, create_date
			, update_date
		) VALUES (
			#{scheduleNo}
			, #{memberEmail}
			, NOW()
			, NOW()
		)
	</insert>
</mapper>