<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.ITaskCommentMapper">
	<!-- 업무 코멘트리스트 개수 가져오기 - app-kanban.js 에서 사용할 것 -->
	<select id="selectTaskCommentCnt" parameterType="int" resultType="map">
		SELECT
			tc.task_no				taskNo
			, COUNT(tc.task_no)		cmtCnt
		FROM 
			task_comment tc INNER JOIN task t 
		ON 
			tc.task_no = t.task_no INNER JOIN task_list tl
		ON 
			t.tasklist_no = tl.tasklist_no
		WHERE 
			tl.project_no = #{projectNo}
		GROUP BY 
			tc.task_no
	</select>
	<!-- 업무 코멘트리스트 가져오기 -->
	<select id="selectTaskComment" parameterType="int" resultType="map">
		SELECT 
			tc.task_cmt_no			taskCmtNo
			, tc.task_cmt_content	taskCmtContent
			, tc.task_cmt_writer	taskCmtWriter
			, tc.create_date		createDate
			, tc.task_cmt_upper_no	taskCmtUpperNo
			, wm.work_member_name	workMemberName
		FROM 
			task_comment tc 				INNER JOIN task t
		ON 
			tc.task_no = t.task_no 			INNER JOIN task_list tl
		ON 
			t.tasklist_no = tl.tasklist_no 	INNER JOIN project p 
		ON 
			tl.project_no = p.project_no 	INNER JOIN workspace_member wm
		ON 
			p.work_no = wm.work_no
		WHERE 
			wm.work_member_email = tc.task_cmt_writer
		AND 
			tc.task_no = #{taskNo}
		ORDER BY
			tc.create_date DESC
	</select>
	<!-- 수정하기 위한 업무 코멘트 가져오기 -->
	<select id="selectTaskCommentByTaskCmtNo" parameterType="int" resultType="map">
		SELECT 
			tc.task_cmt_no			taskCmtNo
			, tc.task_cmt_content	taskCmtContent
			, tc.create_date		createDate
			, tc.task_cmt_upper_no	taskCmtUpperNo
			, wm.work_member_name	workMemberName
		FROM 
			task_comment tc 				INNER JOIN task t
		ON 
			tc.task_no = t.task_no 			INNER JOIN task_list tl
		ON 
			t.tasklist_no = tl.tasklist_no 	INNER JOIN project p 
		ON 
			tl.project_no = p.project_no 	INNER JOIN workspace_member wm
		ON 
			p.work_no = wm.work_no
		WHERE 
			wm.work_member_email = tc.task_cmt_writer
		AND 
			tc.task_cmt_no = #{taskCmtNo}
	</select>
	<!-- 고정된 코멘트 있을 경우 가져오기 -->
	<select id="selectFixTaskCommentByTaskNo" parameterType="int" resultType="map">
		SELECT 
			tc.task_cmt_no			taskCmtNo
			, tc.task_cmt_content	taskCmtContent
			, tc.task_cmt_writer	taskCmtWriter
			, tc.create_date		createDate
			, tc.task_cmt_upper_no	taskCmtUpperNo
			, wm.work_member_name	workMemberName
		FROM 
			task_comment tc INNER JOIN task t
		ON 
			tc.task_no = t.task_no 			INNER JOIN task_list tl
		ON 
			t.tasklist_no = tl.tasklist_no 	INNER JOIN project p 
		ON 
			tl.project_no = p.project_no 	INNER JOIN workspace_member wm
		ON 
			p.work_no = wm.work_no
		WHERE 
			wm.work_member_email = tc.task_cmt_writer
		AND 
			tc.task_no = #{taskNo}
		AND 
			tc.task_cmt_fix = 'Y'	
	</select>
	<!-- 업무 코멘트를 업무로 만들기 위해 내용 가져오기 -->
	<select id="selectTaskCommentToTask" parameterType="int" resultType="string">
		SELECT 
			task_cmt_content		taskCmtContent
		FROM
			task_comment
		WHERE
			task_cmt_no = #{taskCmtNo}
	</select>
	<!-- 업무 코멘트 생성 -->
	<insert id="insertTaskComment" parameterType="com.gd.safari.vo.TaskComment">
		INSERT INTO task_comment (
			task_no
			, task_cmt_content
			, task_cmt_writer
			, task_cmt_fix
			, create_date
			, update_date
			, task_cmt_upper_no
		) VALUES (
			#{taskNo}
			, #{taskCmtContent}
			, #{taskCmtWriter}
			, 'N'
			, NOW()
			, NOW()
			, IF(#{taskCmtUpperNo} = 0, null, #{taskCmtUpperNo})
		)
	</insert>
	<!-- 업무 코멘트 수정 -->
	<update id="updateTaskComment" parameterType="com.gd.safari.vo.TaskComment">
		UPDATE task_comment
		SET
			task_cmt_content = #{taskCmtContent}
			, update_date = NOW()
		WHERE
			task_cmt_no = #{taskCmtNo}
		AND
			task_cmt_writer = #{taskCmtWriter}
	</update>
	<!-- 업무 코멘트 고정하기 -->
	<update id="updateFixTaskComment" parameterType="int">
		UPDATE task_comment
		SET 
			task_cmt_fix = 'Y'
		WHERE 
			task_cmt_no = #{taskCmtNo}
	</update>
	<!-- 업무 코멘트 해제하기 -->
	<update id="updateUnfixedTaskComment" parameterType="int">
		UPDATE task_comment
		SET 
			task_cmt_fix = 'N'
		WHERE 
			task_cmt_no != #{taskCmtNo}
	</update>
	<!-- 업무 코멘트 삭제 -->
	<delete id="deleteTaskComment" parameterType="com.gd.safari.vo.TaskComment">
		DELETE FROM task_comment
		WHERE 
			task_cmt_no = #{taskCmtNo}
		AND
			task_cmt_writer = #{taskCmtWriter}
	</delete>
</mapper>