<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.ITaskCommentMapper">
	<!-- 업무 코멘트리스트 가져오기 -->
	<select id="selectTaskComment" parameterType="int" resultType="map">
		SELECT 
			tc.task_cmt_no			taskCmtNo
			, tc.task_cmt_content	taskCmtContent
			, tc.create_date		createDate
			, tc.task_cmt_upper_no	taskCmtUpperNo
			, wm.work_member_name	workMemberName
		FROM 
			task_comment tc 				INNER JOIN task t
		ON 
			tc.task_no = t.task_no 			INNER JOIN task_list tl
		ON 
			t.tasklist_no = tl.tasklist_no 	INNER JOIN project p 
		ON 
			tl.project_no = p.project_no 	INNER JOIN workspace_member wm
		ON 
			p.work_no = wm.work_no
		WHERE 
			wm.work_member_email = tc.task_cmt_writer
		AND 
			tc.task_no = #{taskNo}
	</select>
</mapper>