<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.ITaskListMapper">
	<!-- 업무리스트 보여주기 -->
	<select id="selectTaskList" resultType="com.gd.safari.vo.TaskList">
		SELECT
			tasklist_no tasklistNo
			, tasklist_title tasklistTitle
		FROM task_list
		WHERE 
			project_no = #{projectNo}
	</select>
	<!-- 업무리스트 생성 -->
	<insert id="insertTaskList" parameterType="com.gd.safari.vo.TaskList">
		INSERT INTO task_list (
			tasklist_title
			, project_no
			, create_date
			, update_date
		) VALUES (
			#{tasklistTitle}
			, #{projectNo}
			, NOW()
			, NOW()
		)
	</insert>
	<!-- 업무리스트 수정 -->
	<update id="updateTaskList" parameterType="com.gd.safari.vo.TaskList">
		UPDATE task_list
		SET
			tasklist_title = #{tasklistTitle}
			, update_date = NOW()
		WHERE 
			tasklist_no = #{tasklistNo}
	</update>
	<!-- 업무리스트 삭제 -->
	<delete id="deleteTaskList" parameterType="int">
		DELETE FROM task_list
		WHERE 
			tasklist_no = #{tasklistNo}
	</delete>
</mapper>