<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.ITaskMapper">
	<!-- 프로젝트 번호에 맞는 업무 조회 -->
	<select id="selectTaskByProjectNo" parameterType="int" resultType="com.gd.safari.vo.Task">
		SELECT
			t.task_no 									taskNo
			, t.task_title 								taskTitle
			, t.task_point 								taskPoint
			, DATE_FORMAT(t.task_deadline, '%m/%d') 	taskDeadline
			, t.tasklist_no 							tasklistNo
			, t.task_upper_no 							taskUpperNo
			, tl.project_no 							projectNo
		FROM 	
			task t INNER JOIN task_list tl
		ON 		
			t.tasklist_no 		= tl.tasklist_no
		WHERE 	
			tl.project_no 		= #{projectNo}
	</select>
	<!-- 상세 보기 -->
	<select id="selectTaskByTaskNo" parameterType="int" resultType="map">
		SELECT
			t.task_title taskTitle
			, t.task_content 	taskContent
			, t.task_writer 	taskWriter
			, t.task_point 		taskPoint
			, t.task_start 		taskStart
			, t.task_deadline 	taskDeadline
			, t.task_end 		taskEnd
			, t.tasklist_no 	tasklistNo
			, t.task_upper_no 	taskUpperNo
			, tl.tasklist_title	tasklistTitle
		FROM 
			task t INNER JOIN task_list tl
		ON
			t.tasklist_no 		= tl.tasklist_no
		WHERE 
			t.task_no 			= #{taskNo}
	</select>
	<!-- 하위 업무 가져오기 -->
	<select id="selectTaskByLowerTask" parameterType="int" resultType="map">
		SELECT 
			t.task_no 			taskNo
			, t.task_title 		taskTitle
			, tl.project_no 	projectNo
		FROM 
			task t INNER JOIN task_list tl 
		ON 
			t.tasklist_no 		= tl.tasklist_no 
		WHERE 
			t.task_upper_no 	= #{taskNo}
	</select>
	<!-- 업무 생성 -->
	<insert id="insertTask" parameterType="com.gd.safari.vo.Task">
		INSERT INTO task (
			task_title
			, task_writer
			, create_date
			, update_date
			, tasklist_no
		) VALUES (
			#{taskTitle}
			, #{taskWriter}
			, NOW()
			, NOW()
			, #{tasklistNo}
		)
	</insert>
	<!-- 업무 수정 -->
	<update id="updateTask" parameterType="com.gd.safari.vo.Task">
		UPDATE task 
		SET
			task_title 		= #{taskTitle}
			, task_content 	= #{taskContent}
			, task_point 	= #{taskPoint}
			, task_start	= if(#{taskStart}='NaN-0NaN-0NaN 0NaN:0NaN:0NaN', null, #{taskStart})  
			, task_deadline = if(#{taskDeadline}='NaN-0NaN-0NaN 0NaN:0NaN:0NaN', null, #{taskDeadline})
			, task_end 		= if(#{taskEnd}='NaN-0NaN-0NaN 0NaN:0NaN:0NaN', null, #{taskEnd})
			, update_date 	= NOW()
		WHERE 
			task_no 		= #{taskNo}
	</update>
	<!-- 업무 삭제 -->
	<delete id="deleteTask" parameterType="int">
		DELETE FROM task
		WHERE 
			task_no 		= #{taskNo}
	</delete>
</mapper>