<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.ITaskMemberMapper">
	<!-- 해당 업무의 업무 멤버리스트 조회 - email, name - 피드백에서 사용할 메서드 -->
	<select id="selectMemberListNameAndEmailByTaskNo" parameterType="int" resultType="map">
		SELECT
			wm.work_member_name		workMemberName
			, wm.work_member_email	workMemberEmail
		FROM
			task_member tm
		INNER JOIN
			project_member pm
		ON 
			tm.project_member_no = pm.project_member_no
		INNER JOIN
			workspace_member wm
		ON
			pm.work_member_no = wm.work_member_no
		WHERE
			tm.task_no = #{taskNo}
	</select>
	
	
	
	<!-- 프로젝트멤버 가져오기 -->
	<select id="selectTaskMember" parameterType="int" resultType="map">
		SELECT 
			tm.task_no 									taskNo
			, pm.work_member_no 						workMemberNo
			, v.work_member_name 						workMemberName
		FROM 
			task_member tm 								LEFT OUTER JOIN project_member pm
		ON 
			tm.project_member_no = pm.project_member_no LEFT OUTER JOIN v_workspace_member v
		ON 
			pm.work_member_no = v.work_member_no
		WHERE 
			pm.project_no = #{projectNo}
	</select>
	<!-- 해당 업무번호에 없는 프로젝트멤버 조회/해당 업무번호에 따른 업무멤버 조회 - 프로젝트번호, 업무번호 필요하여 map으로 사용 -->
	<select id="selectTaskMemberByProjectNoAndTaskNo" parameterType="map" resultType="map">
		SELECT 
			p.project_member_no 	projectMemberNo
			, p.project_no			projectNo
			, t.task_no				taskNo
			, w.work_member_name 	workMemberName
		FROM 
			project_member p 
		LEFT OUTER JOIN 
				(
					SELECT task_no, project_member_no 
					FROM task_member 
					WHERE task_no = #{taskNo}
				) t 
		ON 
			p.project_member_no	 	= t.project_member_no 
		INNER JOIN 
			workspace_member w 
		ON 
			p.work_member_no 		= w.work_member_no 
		WHERE 
			p.project_no = #{projectNo} AND p.active = 'Y'
	</select>
	<!-- 업무리스트에 따른 업무멤버(워크스페이스멤버번호로) 가져오기 - 업무리스트 이동시 업무멤버 삭제하기 위한 메서드 -->
	<select id="selectTaskMemberByTaskListNo" parameterType="int" resultType="com.gd.safari.vo.TaskMember">
		SELECT 
			tm.task_no						taskNo
			, tm.project_member_no 			projectMemberNo
		FROM 
			task_list tl 					INNER JOIN task t 
		ON 
			tl.tasklist_no = t.tasklist_no 	INNER JOIN task_member tm 
		ON 
			t.task_no = tm.task_no 
		WHERE 
			tl.tasklist_no = #{tasklistNo}
	</select>
	<!-- 업무번호에 따른 업무멤버(워크스페이스멤버번호로) 가져오기 - 업무 이동시 업무멤버 삭제하기 위한 메서드 -->
	<select id="selectTaskMemberByTaskNo" parameterType="int" resultType="com.gd.safari.vo.TaskMember">
		SELECT 
			tm.task_no						taskNo
			, tm.project_member_no 			projectMemberNo
			, pm.work_member_no workMemberNo
		FROM 
			task t INNER JOIN task_member tm 
		ON 
			t.task_no = tm.task_no INNER JOIN project_member pm 
		ON 
			tm.project_member_no = pm.project_member_no
		WHERE 
			t.task_no = #{taskNo}
	</select>
	<!-- 업무멤버 생성 -->
	<insert id="insertTaskMember" parameterType="com.gd.safari.vo.TaskMember">
		INSERT INTO task_member (
			task_no
			, project_member_no
		) VALUES (
			#{taskNo}
			, #{projectMemberNo}
		)
	</insert>
	<!-- 업무멤버 삭제 -->
	<delete id="deleteTaskMember" parameterType="com.gd.safari.vo.TaskMember">
		DELETE FROM task_member
		WHERE
			task_no = #{taskNo} AND project_member_no = #{projectMemberNo}
	</delete>
	<!-- 업무를 삭제할 시 같이 삭제될 업무멤버 삭제 (부모 삭제 시 자식 삭제) -->
	<delete id="deleteTaskMemberByTaskNo" parameterType="int">
		DELETE FROM task_member
		WHERE
			task_no = #{taskNo}
	</delete>
	<!-- 하위업무 삭제시 삭제될 업무멤버 삭제 (부모 삭제 시 자식의 자식 삭제) -->
	<delete id="deleteLowerTaskMemberByTaskNo" parameterType="int">
		DELETE FROM task_member WHERE task_no 
 		IN (
 			SELECT task_no FROM (
 				SELECT task_no
				FROM task 
				WHERE task_upper_no 	= #{taskNo}
			) a
		)
	</delete>
	<!-- 하위업무의 하위업무 삭제시 삭제될 업무멤버 삭제 (부모 삭제 시 자식의 자식의 자식 삭제) -->
	<delete id="deleteLowerLowerTaskMemberByTaskNo" parameterType="int">
		DELETE FROM task_member where task_no
		IN (
			SELECT task_no 
			FROM task 
			WHERE task_upper_no 
 			IN (
 				SELECT task_no FROM (
 					SELECT task_no
					FROM task 
					WHERE task_upper_no 	= #{taskNo}
				) a
			)
		)
	</delete>
</mapper>