<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IWorkspaceMapper">

	<insert id="insertWorkspace" parameterType ="com.gd.safari.vo.Workspace">
		
		INSERT INTO workspace(
			  work_name
			, create_date
			, update_date
			, admin_email 
		)VALUES (
			 #{workName}
			, now()
			, now()
			, #{adminEmail}
		)
		
	</insert>

	<delete id="deleteWorkspace" parameterType="int">
	
		DELETE FROM workspace
		WHERE work_no = #{workNo} 
		
	</delete>
	
	<update id="updateWorkspace" parameterType ="com.gd.safari.vo.Workspace">  <!--미완성 -->
	
		  UPDATE workspace SET
		  work_name = #{workName}
		, update_date = #{updateDate}
		  WHERE work_no = #{workNo}
		
	</update>
	
	<select id = "selectWorkspaceList" parameterType="String" resultType ="com.gd.safari.vo.Workspace">
		SELECT distinct 
			  w.work_no     workNo
			, w.work_name   workName
			, w.create_date createDate
			, w.update_date updateDate
			, w.admin_email adminEmail
		FROM workspace_member wm  inner join workspace w
		ON  wm.work_no = w.work_no
		where  wm.work_member_email = #{workMemberEmail}
	
	</select>
	
	
	
	
	
</mapper>