<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IWorkspaceMemberMapper">

	<insert id="insertWorkspaceCreater" parameterType="com.gd.safari.vo.WorkspaceMember">
		<selectKey keyProperty="workNo" order="BEFORE" resultType="int"> 
			<!--  mariadb : SELECT LAST_INSERT_ID() -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		
		INSERT INTO workspace_member(
			work_member_name
			, active
			, work_member_level
			, create_date
			, update_date
			, work_no
			, work_member_email)
		VALUES(
			#{workMemberName}
			, 'Y'
			, 4
			, NOW()
			, NOW()
			, #{workNo}
			, #{workMemberEmail}
		)
	</insert>
	
	<insert id= "insertWorkspaceMember" parameterType="com.gd.safari.vo.WorkspaceMember">
		INSERT INTO workspace_member(
				work_member_name
				, active
				, work_member_level
				, create_date
				, update_date
				, work_no
				, work_member_email)
		VALUES(
				#{workMemberName}
				, 'N'
				, 1
				, NOW()
				, NOW()
				, #{workNo}
				, #{workMemberEmail}
			)
	
	</insert>
	
	<select id = "selectWorkspaceMemberList" parameterType="int" resultType="com.gd.safari.vo.WorkspaceMember">
		SELECT 
			  work_member_no    workMemberNo
			, work_member_name  workMemberName
			, work_memeber_addr workMemberAddr
			, work_member_birth workMemberBirth
			, work_member_phone workMemberPhone
			, work_member_dept  workMemberDept
			, work_member_pos   workMemberPos
			, active
			, work_member_level workMemberLevel
			, create_date       createDate
			, update_date       updateDate
			, work_no           workNo
			, work_member_email workMemberEmail
		FROM workspace_member
		WHERE work_no = #{workNo}
	
	
	</select>
	
	<delete id="deleteWorkspaceMember" parameterType="int">
		DELETE FROM workspace_member
		WHERE work_no = #{workNo}
	
	</delete>
	
	<select id = "selectWorkspaceMemberOne" parameterType="int" resultType ="map">
		SELECT  
			   wm.work_member_no     workMemberNo
			, wm.work_member_name   workMemberName
			, wm.work_memeber_addr  workMemberAddr
			, wm.work_member_birth  workMemberBirth	
			, wm.work_member_phone  workMemberPhone
			, wm.work_member_dept   workMemberDept
			, wm.work_member_pos    workMemberPos
			, wm.active             
			, wm.work_member_level  workMemberLevel
			, wm.create_date        createDate
			, wm.update_date        updateDate
			, wm.work_no            workNo
			, wm.work_member_email  workMemberEmail
			, pi.filename
		FROM workspace_member wm inner join profile_img  pi
		ON wm.work_member_no = pi.work_member_no
		WHERE wm.work_member_no = #{workMemberNo}
	
	</select>
	
	<select id = "selectWorkspaceMemberNo" parameterType="com.gd.safari.vo.WorkspaceMember" resultType ="int">
		SELECT  
			  work_member_no     workMemberNo
		FROM workspace_member 
		where work_member_email = #{workMemberEmail} and work_no = #{workNo}
	
	</select>
	
	
</mapper>