<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.safari.mapper.IWorkspaceMapper">
	
	<!-- 워크스페이스 생성 -->
	<insert id="insertWorkspace" parameterType ="com.gd.safari.vo.Workspace">
		<selectKey keyProperty="workNo" order="AFTER" resultType="int"> 
			<!--  mariadb : SELECT LAST_INSERT_ID() -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO workspace(
			  work_name
			, create_date
			, update_date
			, admin_email 
		)VALUES (
			 #{workName}
			, now()
			, now()
			, #{adminEmail}
		)
		
	</insert>

	<!-- 워크스페이스 삭제 -->
	<delete id="deleteWorkspace" parameterType="int">
	
		DELETE FROM workspace
		WHERE work_no = #{workNo} 
		
	</delete>
	
	<!-- 워크스페이스 수정 -->
	<update id="updateWorkspace" parameterType ="com.gd.safari.vo.Workspace"> 
	
		  UPDATE workspace 
		  SET
		 	  work_name = #{workName}
			, update_date = now()
		  WHERE work_no = #{workNo}
		
	</update>
	
	<!-- 워크스페이스 리스트 -->
	<select id = "selectWorkspaceList" parameterType="String" resultType ="com.gd.safari.vo.Workspace">
		SELECT distinct 
			  w.work_no     workNo
			, w.work_name   workName
			, w.create_date createDate
			, w.update_date updateDate
			, w.admin_email adminEmail
		FROM workspace_member wm  inner join workspace w
		ON  wm.work_no = w.work_no
		where  wm.work_member_email = #{workMemberEmail}
	
	</select>
	
	<!-- 워크스페이스 관리자변경 -->
	<update id="updateWorkspaceAdminEmail" parameterType ="com.gd.safari.vo.Workspace">  
	
		  UPDATE workspace
		  SET
		 	  admin_email = #{adminEmail}
			, update_date = now()
		  WHERE work_no = #{workNo}
		
	</update>
	
	<!-- 관리자 조회 -->
	<select id = "selectWorkspaceAdminEmail" parameterType="int" resultType ="String">
		SELECT
				admin_email
		FROM
				workspace
		WHERE
				work_no = #{workNo}
	
	</select>
	
	
	
</mapper>