@charset "UTF-8";
body.vertical-layout.vertical-menu-modern .content, body.vertical-layout.vertical-menu-modern .footer
	{
	margin-left: 0px;
}

.fonticon-container>.fonticon-wrap {
	float: none;
	width: auto;
	height: auto;
	line-height: normal;
	text-align: center;
	border-radius: 0.1875rem;
	margin-right: 1rem;
	margin-bottom: 1.5rem;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    text-align: end;
}