@charset "UTF-8";


.col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding-top: 27px;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
    color: white;
}